HACKATIME_CLIENT_ID=""
HACKATIME_CLIENT_SECRET=""
# Make a hackatime oauth app at https://hackatime.hackclub.com/docs/oauth/oauth-apps
# Select both profile and read scopes
# Add the url in callback urls: https://your_server.com/auth/hackatime/callback
# Copy the client id and secret here

HC_COOKIE=""
# GO to hackatime.hackclub.com and login.
# Open inspector, and change tabs. With any text/html request to the domain check the Cookie header in request headers
# Copy paste it here